:root {
	--color-black: #101215;
	--color-blackrgb: 16, 18, 21;
	--color-white: #fff;
	--color-lightgray: #b2b2b2;
	--color-gray: #16181c;
	--color-primary: #efcfe3;
	--color-primaryrgb: 239, 207, 227;
	--color-secondary: #8786df;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* * {
	overflow: hidden;
} */

@font-face {
	font-family: 'Trade Gothic';
	src: local('Trade-Gothic-Bold'), local('Trade Gothic Bold'), url('/fonts/trade-gothic-bold.ttf');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Trade Gothic Italic';
	src: local('Trade-Gothic-Italic'), local('Trade Gothic Italic'),
		url('/fonts/trade-gothic-italic.ttf');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Trade Gothic';
	src: local('Trade-Gothic'), local('Trade Gothic'), url('/fonts/trade-gothic.ttf');
	font-weight: normal;
	font-display: swap;
}

html,
body {
	font-family: 'Trade Gothic', sans-serif;
	margin: 0;
	color: var(--color-white);
	background-color: var(--color-black);
	scroll-behavior: smooth;
	scroll-padding-top: 3rem;
}

p,
span {
	font-family: 'Trade Gothic', sans-serif;
}

h1 {
	font-family: 'Trade Gothic', sans-serif;
	font-size: 2rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-family: 'Trade Gothic', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 600;
}

h3 {
	font-family: 'Trade Gothic', sans-serif;
	font-size: 1.25rem;
	line-height: 1.25rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 400;
}

p {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 400;
}

.hidden-desktop {
	display: block;
}

.hidden-mobile {
	display: none;
}

.markdown :is(a) {
	color: #d6fff6;
}

.markdown :is(a:hover) {
	/* color: var(--color-secondary); */
	transition: all 0.3s ease-in-out;
}

.markdown :is(h1) {
	font-size: 2rem;
	line-height: 2rem;
	margin-bottom: 2rem;
}

.markdown :is(h2) {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 1.5rem 0;
}

.markdown :is(h3) {
	font-size: 1.25rem;
	line-height: 1.25rem;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.markdown :is(h4) {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-family: 'IBM Plex Mono', sans-serif;
	text-transform: uppercase;
	/* letter-spacing: 1px; */
}

.markdown :is(ul) {
	list-style: none;
	list-style-position: inside;
}

.markdown :is(ol) {
	list-style: decimal;
	list-style-position: outside;
	padding-left: 1rem;
}

.markdown :is(li) {
	font-weight: 400;
	font-size: 0.9rem;
	/* line-height: 1.8rem; */
	font-weight: 400;
	margin-bottom: 1rem;
}

.markdown :is(p) {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.markdown :is(img) {
	margin-bottom: 3rem;
	margin-top: 1rem;
}

.markdown :is(code) {
	font-size: 0.8rem;
	color: var(--color-primary);
	margin: 1rem 0rem;
	padding: 1rem;
	background-color: var(--color-gray);
	/* width: 100%; */
	display: block;
	border-radius: 0px;
	white-space: pre-wrap !important;
}

@media (min-width: 60em) {
	.hidden-desktop {
		display: none;
	}

	.hidden-mobile {
		display: block;
	}

	h1 {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 3rem;
	}

	h3 {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	h4 {
		font-size: 1.75rem;
		line-height: 2rem;
		font-weight: 400;
	}

	p {
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.9rem;
		font-weight: 400;
	}

	.markdown :is(li) {
		font-size: 1.2rem;
	}

	.markdown :is(p) {
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 400;
	}

	.markdown :is(h1) {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	.markdown :is(h2) {
		font-size: 3rem;
		line-height: 3rem;
	}

	.markdown :is(h3) {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.markdown :is(h4) {
		font-size: 1rem;
		line-height: 2rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	.markdown :is(code) {
		font-size: 1rem;
		margin: 1rem 0rem;
	}
}
